body{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}

#series{
    background-image: url(Imagens/Series.jpg);
}

#desenhos-animados {
    background-image: url(Imagens/Desenhos_animados.jpg);
}

#filmes{
    background-image: url(Imagens/Filmes.jpg);
}

#animes{
    background-image: url(Imagens/Animes.jpg);
}

#jogos{
    background-image: url(Imagens/Jogos.jpg);
}

#barra-superior {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    height: 8%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#principal {
    padding-left: 5%;
    padding-right: 5%;
}

.links-principal {
    color: teal;
    transition-duration: 2s;
}

.links-principal:hover {
    color: rgb(241, 94, 241);
    text-shadow: 2px 2px 3px rgba(94, 191, 251, 0.676);
    transition: 1.5s;
    font-weight: 500;
}

.links-barra {
    color: green;
}

div > p.links-barra:last-child {
    margin-right: 7%;
}

div > p.links-barra:nth-child(2) {
    margin-left: 15%;
}

a {
    text-decoration: none;
}

div#barra-superior p:not(#principal) {
    transition-duration: 1s;
}

div#barra-superior p:not(#principal):hover {
    margin-bottom: 10px;
    border-style: dotted none dotted none;
    border-color: black;
    transition-duration: 1s;
    padding-top: 10px;
} 

#conteudo {
    margin-top: 8%;
    margin-left: 4vw;
    margin-right: 4vw;
    background-color: rgba(255, 255, 255, 0.76);
}

div#conteudo > div {
    transform: translateY(-10px);
}

.generos {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 1px;
}

div.generos > h5 {
    transform: translateY(-2px);
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 3px;
    border: 3px solid black;
    border-radius: 10em;
}

summary {
    display: inline-block;
    margin-left: 0.6%;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 0.5em;
    box-shadow: 2px 2px 2px 2px;
    transform: translateZ(5px);
}

.resposta {
    background-color: rgba(226, 220, 220, 0.514);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "informacoes informacoes trailer";
    margin-left: 1.5%;
    margin-right: 1.5%;
    border: 2px outset black;
    align-items: center;
}

div.resposta > div.informacoes {
    grid-area: informacoes;
    text-align: justify;
}

div.resposta > div.trailer {
    grid-area: trailer;
    justify-self: center;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.formatacao-texto{
    color:black;
    margin-top: 0px;
    margin-left: 1.5%;
    margin-right: 1.5%;
    text-align: justify;
}

.divisao {
    margin-left: 8vw;
    margin-right: 8vw;
    margin-bottom: 5px;
    border-width: 2px;
    border-style: none none dotted none;
    border-color: gray;
}