body {
    background-color: teal;
    font-family: Arial, Helvetica, sans-serif;
}

#barra-lateral {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    background-color: black;
    width: 15%;
    height: 100%;
    left: 0%;
    top: 0%;
}

#principal {
    margin-top: 30%;
}

.links-principal {
    color: lightseagreen;
    text-decoration: underline overline;
    text-decoration-style: wavy;
    text-decoration-color: yellow;
    transition-duration: 1s;
}

.links-principal:hover {
    color: yellow;
    letter-spacing: 2px;
    text-decoration: underline overline;
    text-decoration-style: wavy;
    text-decoration-color: lightseagreen;
    transition-duration: 1s;
}

div > p#primeira-crianca {
    margin-top: 60%;
}

div > p:last-child {
    margin-bottom: 60%;
}

.links-barra {
    padding: 2px;
    color: green;
    transition-duration: 1s;
}

div > .links-barra:not(#principal):hover {
    border-style: none none solid none;
    border-color: green;
    border-width: 1px;
}

.links-barra:not(#principal):hover {
    color: white;
    transition-duration: 1s;
}

a {
    text-decoration: none;
}

#conteudo {
    margin-left: 20%;
    margin-right: 5%
}