body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-image: url();
    background-image: linear-gradient(240deg, rgb(46, 46, 141), rgb(38, 38, 184), rgb(90, 90, 192), rgb(116, 116, 199), white);
    cursor: default;
    font-family: Arial, Helvetica, sans-serif;
}

#pag-princ p {
    font-size: 120%;
}

#barra-lateral {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    background-color: black;
    width: 15%;
    height: 100%;
    left: 0%;
    top: 0%;
}

#principal {
    margin-top: 30%;
}

.links-principal {
    color: #B47CF7;
    text-decoration: underline overline;
    text-decoration-style: wavy;
    text-decoration-color: violet;
    transition-duration: 1s;
}

.links-principal:hover {
    color: violet;
    letter-spacing: 2px;
    text-decoration: underline overline;
    text-decoration-style: wavy;
    text-decoration-color: #B47CF7;
    transition-duration: 1s;
}

div > p#primeira-crianca {
    margin-top: 60%;
}

div#barra-lateral > p:last-child {
    margin-bottom: 60%;
}

div#barra-lateral [class=links-barra] {
    text-decoration: none;
}

.links-barra {
    padding: 2px;
    color: rgba(129, 142, 145, 0.884);
    transition-duration: 1s;
}

div > .links-barra:not(#principal):hover {
    border-style: none none solid none;
    border-color: rgba(129, 142, 145, 0.884);
    border-width: 1px;
}

.links-barra:not(#principal):hover {
    color: white;
    transition-duration: 1s;
}

a {
    text-decoration: none;
}

.publi {
    position: fixed;
    bottom: 0%;
    border-style: solid solid none solid;
    border-color: black;
    border-width: 1px;
    transform: translateY(5px);
}

#conteudo {
    margin-left: 20%;
    margin-right: 5%;
    margin-top: 5%;
}

#conteudo > #titulo {
    margin-top: 5%;
    font-size: 50px;
    align-self: center;
}

div#publi2 a {
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.767);
    text-decoration: violet underline;
    text-decoration-color: violet;
}

div#publi2 > p {
    grid-area: texto;
    margin-right: 15px;
    text-align: justify;
}

div#publi2 > img {
    grid-area: publi;
    border: black 1px solid;
}

#publi2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "texto texto texto publi";
}

/* PÃGINA DE CONTATO */

.formulario {
    text-align: center;
}

fieldset {
    border-color: black;
    margin-left: 16vw;
    margin-right: 16vw;
}

legend {
    border-width: 2px;
    border-style: none solid none solid;
    border-color: black;
    background-color: rgba(255, 255, 255, 0.05);
    font-size: 130%;
    font-weight: 500;
}

#opcoes > ul {
    display: grid;
    grid-template-columns: 167px;
    grid-template-rows: 25px 25px 25px 25px 25px;
    justify-content: center;
    padding-left: 0;
}

#opcoes li {
    list-style: none;
    justify-self: flex-start;
}

textarea {
    resize: none;
}

button {
    border-radius: 2em;
    font-size: 130%;
    border: 3px solid black;
    background-color: rgb(180, 180, 180);
    user-select: none;
}

@keyframes background {
    from {
        background-color: rgba(255, 0, 0, 0.8);
        border-color: rgb(255, 0, 0);
    }
    12.5%{
        background-color: rgba(255, 128, 0, 0.8);
        border-color: rgb(255, 128, 0);
    }
    25% {
        background-color: rgba(255, 255, 0, 0.8);
        border-color: rgb(255, 255, 0);
    }
    37.5% {
        background-color: rgba(0, 128, 0, 0.8);
        border-color: rgb(0, 128, 0);
    }
    50% {
        background-color: rgba(0, 128, 255, 0.8);
        border-color: rgb(0, 128, 255);
    }
    62.5% {
        background-color: rgba(0, 0, 255, 0.8);
        border-color: rgb(0, 0, 255);
    }
    75% {
        background-color: rgba(76, 0, 130, 0.8);
        border-color: rgb(76, 0, 130);
    }
    87.5% {
        background-color: rgba(238, 90, 238, 0.8);
        border-color: rgb(238, 90, 238);
    }
    100% {
        background-color: rgba(255, 0, 0, 0.8);
        border-color: rgb(255, 0, 0);
    }
}

button:hover {
    animation: background 4s linear 0s infinite;
    color: white;
    cursor: pointer;
}

/* EQUIPE */

.equipe {
    text-align: center;
}

.grid-equipe > img {
    grid-area: img;
    border: 3px solid rgb(99, 46, 99);
    border-radius: 100%;
    margin: 0;
}

.grid-equipe > p {
    grid-area: p;
    padding-left: 3.5%;
    padding-right: 3.5%;
    margin: 0;
    text-align: justify;
}

.grid-equipe {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    margin-top: 5%;
}

#alvaro {
    grid-template-areas: "img p p";
}

#caio {
    grid-template-areas: "p p img";
}

#debora {
    grid-template-areas: "img p p";
}